{% load static %}


<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
    
  <a class="nav-item" href=" {% url 'home_page' %} ">

    <li class="nav-item">
      <a class="nav-link" href="{% url 'home_page' %}">
        <i class="fas fa-fw fa-home"></i>
        <span>Ana Sayfa</span></a
      >
    
  </a>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'geziler_page' %}">
        <i class="fas fa-baseball-ball"></i>
        <span>Aktiviteler</span></a>

      
      
   

      <hr class="sidebar-divider" />

      <div class="sidebar-heading">Ekstra Sayfalar</div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
        <i class="fas fa-pager"></i>
        <span>Sayfalar</span>
      </a>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Bütün Sayfalar</h6>
          <a class="collapse-item" href="/geziler">Gezilecek Yerler</a>
          
          
        
        
         
        </div>
      </div>
    </li>
    
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapsePages"
        aria-expanded="true"
        aria-controls="collapsePages"
      >
        <i class="fas fa-address-card"></i>
        <span>Giriş Ekranı</span>
      </a>
      <div
        id="collapsePages"
        class="collapse"
        aria-labelledby="headingPages"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Giriş Ekranı:</h6>
          <a class="collapse-item" href="{% url 'login' %}">Giriş</a>
          <a class="collapse-item" href="{% url 'register' %}">Kayıt ol</a>
          <a class="collapse-item" href="forgot-password.html"
            >Şifremi unuttum</a>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'hakkimizda' %}">
                <i class="fas fa-fw fa-users"></i>
                <span>Hakkımızda</span></a>
         
      
      </li>
    </li>
  </ul>