

{% extends 'geziler/base.html' %} {% load static %}

{% block page_title %}
  Aktiviteler
{% endblock page_title %}

{% block css_files %}
{% endblock %}  {% block content %} 







<div id="wrapper">
  {% include 'include/_sidebar.html' %}

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      
      {% include 'include/_topbar.html' %}

      <div class="container-fluid"></div>

      <div
        class="d-sm-flex align-items-center justify-content-between mt-4 mb-3"
      >
        <h1 class="h5 mb-0 text-gray-900" style="margin-top: 5px; margin-left: 10px;" >Aktivitelerin Tümü Burda!</h1>
        
      </div>

      <div class="row">
        <div class="col">
          <div class="row">

              {% for gezi in geziler %}
                <div class="col-xl-4 col-md-6 mb-4">

                  {% include 'include/_geziler.html' %}
        
              </div>
              {% endfor %}


          
        </div>
      </div>
    </div>

    {% include 'include/_footer.html' %}
  </div>
</div>




{% endblock %}
