{% extends 'geziler/base.html' %} 
{% load static %} 
{% block css_files %}{% endblock  %}
{% block page_title %} Gezilecek Yerler{% endblock  %} {% block content %}

<div id="wrapper">
  {% include 'include/_sidebar.html' %}

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      {% include 'include/_topbar.html' %}

      <div class="container-fluid"></div>

      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="cover-pic">
            <div
              class="position-absolute bg-white shadow-sm rounded text-center p-2 m-4 love-box"
            >
              <h6 class="text-gray-900 mb-0 font-weight-bold">
                <i class="fas fa-heart text-danger"></i> 50%
              </h6>
              <small class="text-muted">8,784</small>
            </div>
            
          </div>
        </div>
        
        <div class="col-xl-3 col-lg-3">
          <div class="bg-white p-3 widget shadow rounded mb-4">

            <img src="{% static 'img/'|add:gezi.image %}" class="img-fluid rounded" alt="..." />
                     
            
          </div>
        </div>
        <div class="col-xl-9 col-lg-9">
          <div class="bg-white info-header shadow rounded mb-4">
            <div
              class="row d-flex align-items-center justify-content-between p-3 border-bottom"
            >
              <div class="col-lg-7 m-b-4">
                <h3 class="text-gray-900 mb-0 mt-0 font-weight-bold">
                 {{ gezi.title }}
                </h3>
                <p class="mb-0 text-gray-800">
                  <small class="text-muted"
                    ><i class="fas fa-film fa-fw fa-sm mr-1"></i>
                      {{ gezi.titleforhead }} 
                    </small>
                </p>
              </div>
              <div class="col-lg-5 text-right">
                <a href="#" class="d-sm-inline-block btn btn-primary shadow-sm"
                  ><i class="fas fa-share-alt"></i
                ></a>
                <a href="#" class="d-sm-inline-block btn btn-danger shadow-sm">
                  Aktivitelere Ekle <i class="fas fa-plus fa-sm ml-1"></i
                ></a>
              </div>
            </div>
            <div
              class="row d-flex align-items-center justify-content-between py-3 px-4"
            >
              <div class="col-lg-6 m-b-4">
                <p class="mb-0 text-gray-900">
                  <i class="fas fa-money-bill fa-sm fa-fw mr-1"></i> Aktivite: 
                  <span class="text-white rounded px-2 py-1 bg-info"
                    >
                    {{gezi.title}}
                    </span
                  >
                </p>
              </div>
              <div class="col-lg-6 text-right">
                <a href="#" class="btn btn-sm btn-primary btn-circle">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="btn btn-sm btn-danger btn-circle">
                  <i class="fab fa-youtube"></i>
                </a>
                <a href="#" class="btn btn-sm btn-warning btn-circle">
                  <i class="fab fa-snapchat-ghost"></i>
                </a>
                <a href="#" class="btn btn-sm btn-info btn-circle">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="bg-white p-3 widget shadow rounded mb-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >Özet</a
                >
              </li>
              
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="videos-tab"
                  data-toggle="tab"
                  href="#videos"
                  role="tab"
                  aria-controls="videos"
                  aria-selected="false"
                  >Videolar
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  id="contact-tab"
                  data-toggle="tab"
                  href="#contact"
                  role="tab"
                  aria-controls="contact"
                  aria-selected="false"
                  >Yorumlar</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab">

                {{gezi.description}}
                              
              
              </div>
              <div
                class="tab-pane fade"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <div class="row">
                  <div class="col-xl-4 col-lg-4">
                    <h5 class="h6 mt-0 mb-3 font-weight-bold text-gray-900">
                      CAST
                    </h5>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s1.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Carla Gugino</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s2.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Sylvester Stallone</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s3.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Rose Byrne</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s4.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Jason Statham</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4">
                    <h5 class="h6 mt-0 mb-3 font-weight-bold text-gray-900">
                      CREW
                    </h5>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s3.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Rose Byrne</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s4.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Jason Statham</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s1.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Carla Gugino</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s2.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Sylvester Stallone</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4">
                    <h5 class="h6 mt-0 mb-3 font-weight-bold text-gray-900">
                      Support
                    </h5>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s1.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Carla Gugino</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s2.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Sylvester Stallone</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s3.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Rose Byrne</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                    <div class="artist-list mb-3">
                      <a class="d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                          <img class="rounded-circle" src="img/s4.png" alt="" />
                          <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">Jason Statham</div>
                          <div class="small text-gray-500">Acting</div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="videos"
                role="tabpanel"
                aria-labelledby="videos-tab"
              >
                <div class="row">

                  {% for video in videos %}

                  <div class="col-xl-6 col-lg-6">
                    <div class="mb-4">
                      <iframe
                        width="100%"
                        height="215"
                        src="https://www.youtube.com/embed/{{video.url}}"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""
                      ></iframe>
                    </div>
                  </div>
                  
                  
                  {% endfor %}
                  
                </div>
              </div>
              
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="card-body p-0 reviews-card">
                  
                 {% include 'include/_comment-list.html' %}

                  
                  
                </div>
                <div class="p-4 bg-light rounded mt-4">
                  {% include 'include/_add_comment.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'include/_footer.html' %}
  </div>
</div>



{% endblock %}
