{% extends 'geziler/base.html' %}

{% load static %}

{% block css_files %}

<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick-theme.min.css' %}" />

{% endblock  %}


{% block page_title %}

  Ana Sayfa

{% endblock page_title %}


{% block content %}



<div id="wrapper">

{% include 'include/_sidebar.html' %}

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      
        {% include 'include/_topbar.html' %}

      <div class="container-fluid"></div>

      {% include 'include/_slider.html' %}

    </div>

    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-3">
      <h1 class="h5 mb-0 text-gray-900" style="margin-top: 2px; margin-left: 8px;">Aktivitelere Önden bir bakalım istersen?</h1>
      <a href="{% url 'geziler_page' %}" class="d-none d-sm-inline-block text-xs"
        >Hepsini Görmek İster misin? Tıkla ve Git!<i class="fas fa-eye fa-sm" style="height: 20px;"></i
      ></a>
    </div>
    <div class="row">

      {% for gezi in  geziler %}

        <div class="col-xl-3 col-md-6 mb-4">

          {% include 'include/_geziler.html' %}

          
        </div>

      {% endfor %}
     
    </div>

    {% include 'include/_footer.html' %}
  </div>
</div>





{% endblock %}
